.App {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  font-family: "Questrial", sans-serif;
  color: rgb(133, 50, 119);
  max-width: 800px;
  margin: 20px auto;
  border: none;
  border-radius: 20px;
  padding: 30px 40px;
  text-align: center;
}
